[core]
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[user]
  name = Philipp
  email = "philipp@bross.casa";
  username = "elcattivo66";
  signingKey = "0x176656EA147101A9";
[commit]
	gpgsign = true
[tag]
	gpgSign = true
