[core]
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
[user]
  name = Philipp
  email = "philipp@bross.casa";
  signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEOPBEcMeCeXe89KwvtKkfjAy1u6ni065jMxOQ4dBR6B
[commit]
	gpgsign = true
[tag]
	gpgSign = true
