tap "aymanbagabas/tap"
tap "fluxcd/tap"
tap "homebrew/bundle"

brew "age"
brew "atuin"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "docker"
brew "docker-compose"
brew "doggo"
brew "eza"
brew "findutils"
brew "fish"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "gnu-sed"
brew "gnupg"
brew "go-task"
brew "gum"
brew "helm"
brew "helm-docs"
brew "helm-ls"
brew "jq"
brew "k9s"
brew "kubernetes-cli"
brew "krew"
brew "kubecm"
brew "kubecolor"
brew "kustomize"
brew "lazygit"
brew "mas"
brew "minijinja-cli"
brew "mise"
brew "neovim"
brew "pinentry-mac"
brew "sops"
brew "starship"
brew "stern"
brew "talhelper"
brew "talosctl"
brew "wget"
brew "yq"
brew "zoxide"
brew "aymanbagabas/tap/shcopy"
brew "fluxcd/tap/flux"

cask "discord"
cask "font-monaspace-nerd-font"
cask "gifox"
cask "ghostty"
cask "google-chrome"
cask "iterm2"
cask "jordanbaird-ice"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "linearmouse"
cask "obsidian"
cask "plex"
cask "raycast"
cask "shottr"
cask "tableplus"
cask "transmit"
cask "visual-studio-code"
cask "wireshark"

vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "fnando.linter"
vscode "golang.go"
vscode "gruntfuggly.todo-tree"
vscode "helm-ls.helm-ls"
vscode "ionutvmi.path-autocomplete"
vscode "jinliming2.vscode-go-template"
vscode "luisfontes19.vscode-swissknife"
vscode "ms-azuretools.vscode-docker"
vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-vscode-remote.remote-containers"
vscode "redhat.vscode-yaml"
vscode "samuelcolvin.jinjahtml"
vscode "savh.json5-kit"
vscode "signageos.signageos-vscode-sops"
vscode "tamasfe.even-better-toml"
